# Copy this file into a new file called ".env" in the root of the project.
# The dotenv gem will load the contents of .env into the environment when
# Rails starts. Access values like this: ENV["RAILS_SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: https://github.com/bkeepers/dotenv

RAILS_SECRET_KEY_BASE=d918a15f20be415ba77e03d692fb5f986eac2b10982ec16f2aedc8cbe94c9f12dee1ad7714d8114c0218a3f26b76014dbfc3391e807b75cc2b9e8f7e310645e0
SIDEKIQ_WEB_USERNAME=admin
SIDEKIQ_WEB_PASSWORD=password
